<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> ANALYZE YOUR TEXT </title>
</head>
<body>
    <center>
    <h1>Welcome to the text analyzer</h1>
    <br>
    <h2>Enter your text below ::</h2>

    <form action="/analyze" method="get">
        <textarea name='text' style='margin: 0px; height: 95px; width: 954px;'></textarea>
        <br>
        <input type="checkbox" name="removepunc">Remove Punctutation<br>
        <input type="checkbox" name="capital">CAPITALIZE YOUR TEXT<br>
        <input type="checkbox" name="newline">Remove the linespaces<br>
        <input type="checkbox" name="spaces">Remove extra spaces<br>


        <button type="submit"> Analyze text </button>
    </form>
        </center>

</body>
</html>